 :root {
    --main-font: font-family: Roboto;
    --secondery-font: Raleway; 
    --accent-color: #2196F3 ;
 }
 .body {
    font-family: var(--main-font);
    background-color: white;
 }
 .link {
    text-decoration: none;
 }
 .list {
    list-style: none;
 }
 .address{
    font-style: normal;
 }
 /*=======header=======*/
 .header {
    display: flex;
 }
  .navigetion-link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:#212121;
 }
 .navigetion-link:hover,
 .navigetion-link:focus {
     color: var(--accent-color);
 }
 .nav-adr-link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
 }
 .nav-tel-link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
 }
 .nav-adr-link:hover,
 .nav-adr-link:focus {
    color: var(--accent-color);
 }
 .nav-tel-link:hover,
 .nav-tel-link:focus {
    color: var(--accent-color);
 }
 .logo {
    font-family: var(--secondery-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
 }
 /*======end header========*/
 .logo-light-theme {
    color: #212121;
 }
 .logo-dark-theme {
   color:  #FFFFFF; 
 }
 /*======hero============*/
 .model-btn:hover,
 .model-btn:focus {
    background-color: var(--accent-color);
    color:  #FFFFFF;
    cursor: pointer;
 }
 .hero {
     font-family: var(--main-font);
     font-weight: 900;
     font-size: 44px;
     line-height: 1.36;
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     color: #FFFFFF;
 }
 /*========end hero========*/
 .titl {
     font-family: var(--main-font);
     font-weight: bold;
     font-size: 36px;
     line-height: 1.17;
     text-align: center;
     letter-spacing: 0.03em;
     color: #212121;
 }
 /*=========занятия=========*/
 .quality {
     font-family: var(--main-font);
     font-weight: bold;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #212121;
 }
 .quality-text {
     font-family: var(--main-font);
     font-weight: normal;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
     color: #757575;
 }
 /*==========end quality========*/
 /*=========team============*/
 .team-name {
     font-family: var(--main-font);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.19;
     text-align: center;
     letter-spacing: 0.03em;
     color: #212121;
 }
 .team-prof {
     font-family: var(--main-font);
     font-weight: normal;
     font-size: 16px;
     line-height: 1.19;
     text-align: center;
     letter-spacing: 0.03em;
     color: #757575;
 }
 /*==========endteam========*/
 /*=========footer=========*/
 .ftr-adr-link {
     font-family: var(--main-font);
     font-weight: normal;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
     color: #FFFFFF;
 }
 .ftr-mail-link {
     font-family: var(--main-font);
     font-weight: normal;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);
 }
 .ftr-tel-link {
     font-family: var(--main-font);
     font-weight: normal;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);
 }
 /*=========endfooter==========*/
 /*========portfolio==========*/
   .present-item {
     font-family: var(--main-font)
    
 }
   .present-text {
     font-family:var(--main-font)
    
 }
 /*===========endportfolio======*/
